* {
    box-sizing: border-box;
}

/* Header */

header {
	background: #BBBBBB;
	padding: 1rem 5% 1rem 1%;
}

header .caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    display: flex;
    align-items: center;

    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    /* border: .2rem dotted blanchedalmond;
    border-radius: 2rem; */

    margin-right: 3rem;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 2rem;
}
header nav ul li:last-child {
    margin: 0;
}

header nav a {
    padding: 1rem;

	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 2.5vw;
    text-decoration: none;
    
    transition: .5s color, .3s text-decoration;
}

header nav a:hover {
	color: #C78C19;
    text-decoration: underline;
    
    transition: .5s color, .3s text-decoration;
}

header img, footer img {
    height: 10rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

	background: url("../img/bg.jpg");
	padding: 1rem 0;
}

footer p {
    color: snow;
}