main {
    flex-grow: 1;

    padding: .5rem 1rem;

    background-color: #ffe2c6;
    /* background-image: linear-gradient(
        180deg,
        transparent,
        black
    ); */

    border: .8rem dashed tomato;
    border-left-style: solid;
    border-right-style: solid;
    /* background-image: url("../img/logo.png");
    background-position: top;
    background-size: 5rem;
    background-repeat: space; */
}

textarea:focus, input:focus {
    box-shadow: .3rem .3rem .1rem #00000046;
}

textarea, input {
    background-color: #d7ffd7;
}

fieldset {
    display: inline;
}

.formulario * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.formulario {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template: auto auto auto / auto auto;
    gap: .4rem;
    border-radius: 1rem;

    padding: 1rem 5rem;
}

.form-grid label {
    width: 100%;

    font-size: 1.3rem;
}

.box-form {
    position: relative;

    padding: 1rem;
    border-radius: 1rem;
    border: .2rem solid goldenrod;
    border-top: 2.5rem solid goldenrod;

    background-color: #ffcfb4;
    background-image: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 10px,
        #00000009 10px,
        #00000009 20px
    );
    background-repeat: repeat;

    transition: .5s box-shadow;
}


.box-form:hover {
    transition: .5s box-shadow;
    box-shadow: .2rem .2rem .1rem #00000046;    
}

.form-submit {
    margin: 1rem;

    width: 40%;
    height: 5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: snow;

    background-color: brown;

    border: .3rem solid crimson;
    border-radius: 2rem;

    box-shadow: .5rem .5rem .2rem #00000033;

    transition: 2s all;

    cursor: pointer;
}

.form-submit:hover, .form-submit:active {
    border-color: darkgreen;
    color: black;
    background-color: springgreen;

    box-shadow: .2rem .2rem .3rem #00000033;

    transition: 2s all;

    transform: scale(1.2);
}

.credentials {
    grid-area: 1 / 1;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    text-align: left;
}

.credentials input {
    width: 100%;

    margin: .4rem 0 .5rem 0;
    padding: .6rem 1.2rem;
}

/* Show red borders when filled, but invalid */
/* .credentials input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);;
} */
  
/* Show green borders when valid */
.credentials input:valid {
    border-color: hsl(120, 76%, 50%);
}

.credentials input[type='submit'] {
    width: 5rem;
    height: 2rem;
}

.menssage {
    grid-row: 1 / 1;
    grid-column: 2 / 2;

    display: flex;
    flex-flow: column;

    text-align: center;
}

.menssage textarea {
    font-size: 20px;

    flex-grow: 1;

    padding: 1rem;
    margin: 1rem;

    color: goldenrod;

    border: .1rem solid #00000066;

    resize: vertical; 
    max-height: 20rem;

    transition: .3s height;

    white-space: pre-line;
}

.nail {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: grey;

    position: absolute;
    top: calc(-1.25rem - 1rem);

    box-shadow: .2rem .1rem #00000044;
}

.nail-pos-50 {
    left: calc(50% - 1rem);
}

.nail-pos-80 {
    left: calc(80% - 1rem);
}

.nail-pos-20 {
    left: calc(20% - 1rem);
}

.nail-pos-90 {
    left: calc(90% - 1rem);
}

.nail-pos-10 {
    left: calc(10% - 1rem);
}

.client-options {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;

    display: flex;
    justify-content: space-evenly;
}

.client-options > .option {
    padding: 1rem;
}

.client-options p {
    font-size: 1.3rem;
    padding: .5rem;
}

.contact {
    display: flex;
    flex-flow: column;
}

.option.contact {
    display: flex;
    flex-flow: row wrap;
}

.option.service {
    display: flex;
}

.option.service .option-choose {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.option.service .option-choose select {
    width: auto;
    padding: .5rem 1rem;
}

.option.service .option-choose p {
    padding: .5rem 1rem;
}

.option.service .date-service {
    margin-left: .5rem;
}

.date-service {
    border: .2rem dotted #ffdd1b;
    border-radius: 1rem;
}

.date-service thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

.date-service tbody {
    background-color: burlywood;
}

.date-service td, .date-service th {
    border: 1px solid #000000;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.email-option {
    display: flex;
    justify-content: center;

    grid-column: 1 / span 2;
    grid-row: 3 / 3;
}



