@media screen and (max-width: 950px) {
    header .caixa h1 {
        display: flex;
        align-items: center;
    
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
    
        /* border: .2rem dotted blanchedalmond;
        border-radius: 2rem; */
    
        margin-right: 2rem;
    }

    header img, footer img {
        height: 6rem;
    }

    .form-grid {
        display: flex;
        flex-flow: column wrap; 
    
        padding: 1rem 4rem;
    }

    .box-form {
        display: flex;
        flex-flow: column wrap; 
    }

    .box-form {
        margin: .4rem;
    }

    .menssage textarea {
        height: 20rem;
        max-height: 35rem;
    }
}

@media screen and (max-width: 900px) {
    .form-grid {
        padding: 1rem 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 2rem;
    }

    header .caixa h1 {
        display: none;
    }

    header nav ul li {
        margin: 0;
    }

    header nav, header nav ul {
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    header nav a {
        font-size: 2rem;
    }

    footer h1 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header nav a {
        font-size: 1.4rem;
    }
}