body {
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(90deg, #71FF9E, #71FFC1);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header section {
    width: 60vw;

    display: flex;
    flex-direction: column;
    
    padding: 0.8em;
    margin-top: 1em;

    border: .1rem solid #8b000060;
    border-radius: 1rem;
    background-color: beige;
    box-shadow: coral .2em .2em;
}

header section * {
    margin: 0.5em;
}

header section div {
    position: relative;
}

header section img[src*='banner'] {
    width: 90%;
    align-self: center;
    box-shadow: #00000070 0.2em 0.2em;
}

header section img[src*='tesoura'] {
    width: 10%;

    position: absolute;
    top: -9%;
    left: -1%;
}

header section h1 {
    border-bottom: .1rem solid darkred;
    margin: 0px;
    padding: .5em;
    border-radius: .5rem;
    background-color: #ff5db340;
}

section > p.font-large {
    background-color: #a52a2a70;
    margin: 0.5em 0px 0.5em 0px
}

.font-very-large {
    font-size: 2.5em;
}

.font-large {
    font-size: 1.5em;
}

.font-mascot {
    font-family: mascot-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
}