body {
    justify-items: center;
    background-image: linear-gradient(90deg, #71FF9E, #71FFC1);
}

section {
    width: 60vw;
    
    padding: 0.8em; 
    margin: 1em;

    border: .1rem solid #8b000060;
    border-radius: 1rem;
    background-color: beige;
    box-shadow: coral .1em .1em;
}

section * {
    margin: 0.5em;
}

ul * {
    padding: 1rem;
    font-size: 1.5rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

ul *:hover {
    background-color: #74ff6f66;
}

section div {
    position: relative;
}

img[src*='banner'] {
    width: 90%;
    align-self: center;
    box-shadow: #00000070 0.2em 0.2em;
}

img[src*='tesoura'] {
    width: 10%;

    position: absolute;
    top: -9%;
    left: -1%;
}

img[src*='beneficios'] {
    width: 50%;
}

article p.font-large {
    background-color: #a52a2a40;
    border-radius: .5em;
    box-shadow: #a52a2a70 0px 0px 1rem;
    margin: 0.5em 0px 0.5em 0px
}

.font-very-large {
    font-size: 2.5em;
}

.font-large {
    font-size: 1.5em;
}

.font-mascot {
    font-family: mascot-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-align {
    text-align: center;
}

.title {
    border-bottom: .1rem solid darkred;
    margin: 0px;
    padding: .5em;
    border-radius: .5rem;
    background-color: #ff5db340;
}

.flex {
    display: flex;
}

.centralize {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}